<h2>Checkout</h2>

<p>Total: KES <%= @total %></p>

<%= form_with model: @order do |f| %>
  <div>
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <%= f.submit "Pay with M-Pesa" %>
<% end %>
